button{
    border: none;
    cursor: pointer;
}

.btn{
    font-size: 16px;
    background: $btn-color;
    color: white;
    padding: 15px 20px;
    margin: 40px 0 0;
    border-radius: 30px;
    box-shadow: 4px 3px 10px darken(#ffffff, 25);
    transition: 0.25s;

    &:hover{
        box-shadow: 8px 6px 10px darken(#ffffff, 35);
        transform: translateY(-4px);
        opacity: 0.85;
    }
}