.like{
    background-color: darken(#ffffff, 3.53);

    & .fa-heart{
        @include heart;
        animation: heart_out 0.25s linear forwards;
    }
    
    &:hover > .fa-heart{
        animation: heart_in 0.25s linear forwards;
    }
}