html{
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    font-family: $font-text;
}